<div class="ft-sz-25"> 
 <div id="signup-form">
    <%= form_with(model: @user, local: true) do |f| %>
        <div class="">
            <%= f.label :username, class: "form-label" , class: "form-label" %><br>
            <%= f.text_field :username, class: "form-input" %>
        </div>
        <div class="">
            <%= f.label :password, class: "form-label" , class: "form-label" %><br>
            <%= f.password_field :password, class: "form-input" %><br>
            <%= f.label :password_confirmation, class: "form-label" , class: "form-label" %><br>
            <%= f.password_field :password_confirmation, class: "form-input" %>
        </div>
        
          <%= label_tag :code %><br>
           <%= text_field_tag :code %><br>
        <%= f.submit :signup %>
    <% end %>
 </div>
</div>