<%= form_for(@family_history) do |f| %>

  <label>Diagnosis:</label><br>
  <%= f.text_field :diagnosis %><br>
  
  <label>Mother:</label><br>
  <%= f.boolean :mother %><br>

  <label>Father:</label><br>
  <%= f.boolean :father %><br>

  <label>Sister:</label><br>
  <%= f.boolean :sister %><br>

  <label>Brother:</label><br>
  <%= f.boolean :brother %><br>

  
   <br>
  <%= f.submit "Submit This Information"%>
<% end %>
</form>

  