<div class="ft-sz-25">
  <% @family_histories.each do |family_history| %>
    <p>Diagnosis: <%= family_history.diagnosis %></p><br>
    <p>Mother: <%= family_history.mother %></p><br>
    <p>Father: <%= family_history.father %></p><br>
    <p>Sister: <%= family_history.sister %></p><br>
    <p>Brother: <%= family_history.brother %></p><br>
    <p><%= family_history.updated_at.strftime("Last updated %m/%d/%Y, at %l:%M %p") %></p><br>
    <p><%= link_to 'Go To This Family History' , family_history_path(family_history) %>
    
      <br>   
    
  <% end %>
</div>

  